<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlink}}
</head>
<body>
    {{>navbar}}


    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <div class="col-md-6 col-12 main_header_right">
                        <!-- right side div -->
                        <figure>
                            <img src="image/a.jpg" alt="plabon" class="img-fluid">
                        </figure>
                        
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <!-- left side div -->
                        <p>Hey!! This is Rayhan Jamil Plabon</p>
                        
                        <h3>FEEL FREE TO <span class="text-clr">CONTACT</span> WITH ME FOR ANY HELP</h3>
                        <a href="https://www.facebook.com/rayhan.z.plabon"><button>Contact me in facebook</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>
</html>